.forecastHeader {
  border-bottom: 1px dotted black;
  padding: 10px;
  font-size: x-large;
}

.dashboardGridList {
  border-bottom: 1px dotted black;
}

:host mat-grid-tile {
  height: 100% !important;
}

:host mat-card {
  width: 95%;
  height: 80%;
  border: 1px solid lightgray;
  text-align: center
}

:host ::ng-deep #tempGauge {
  width: 80%;
  position: relative;
  bottom: 55px;
}
