<h2>Current Conditions as of {{ currentConditions.LocalObservationDateTime | date: 'medium' }}</h2>
<div class='currentConditionCardContainer'>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Current Temperature</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ currentConditions.Temperature.Imperial.Value }}F
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        Weather Type
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span>{{ currentConditions.WeatherText }}</span>
      <img style='border: 1px solid black; height: 50px; width: 50px' src='assets/weathericons/{{ currentConditions.WeatherIcon }}.png'>
    </mat-card-content>
  </mat-card>
</div>
