<mat-grid-list cols="3" rowHeight="200px" class="currentConditionsGrid">
  <mat-grid-tile colspan="3">
    <mat-grid-tile-header>
      Current Conditions for {{ locationName }} as of
      {{ currentConditions?.LocalObservationDateTime | date: "medium" }}
    </mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Current Temperature</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ currentConditions?.Temperature.Imperial.Value }}F
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle> Current Weather </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img
          src="assets/weathericons/{{ currentConditions?.WeatherIcon }}.png"
        />
      </mat-card-content>
      <mat-card-footer style="text-align: center">
        <span>{{ currentConditions?.WeatherText }}</span>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Daily Minimum/Max Temperature</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ oneDayForecast?.Temperature.Minimum.Value }}F /
        {{ oneDayForecast?.Temperature.Maximum.Value }}F
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!-- ROW 2 !-->

  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle> Daytime Forecast </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/weathericons/{{ oneDayForecast?.Day.Icon }}.png" />
      </mat-card-content>
      <mat-card-footer style="text-align: center">
        <span>{{ oneDayForecast?.Day.IconPhrase }}</span>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle> Nightly Forcast </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/weathericons/{{ oneDayForecast?.Night.Icon }}.png" />
      </mat-card-content>
      <mat-card-footer style="text-align: center">
        <span>{{ oneDayForecast?.Night.IconPhrase }}</span>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <button
      mat-raised-button
      color="primary"
      routerLink="/forecastDashboard"
      routerLinkActive="true"
    >
      Go To Dashboard<mat-icon>arrow_right_alt</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
