.currentConditionsGrid {
  width: 100%;
  position: absolute;
  top: 0px;
}

:host mat-card {
  height: 150px;
  width: 80%;
}


:host mat-card-content {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}
