<mat-grid-list cols='8' rowHeight='98vh'>
  <mat-grid-tile colspan='2' class='gridTile'>
    <mat-grid-tile-header>
      <mat-label>Search for location: </mat-label><input matInput #searchInput type='search' placeholder='Salt Lake'>
      <button mat-raised-button (click)='getSearchLocations(searchInput.value)'>Search</button>
    </mat-grid-tile-header>

    <div *ngIf='searchLocations.length > 0' class='locationContainer'>
      <mat-card *ngFor='let location of searchLocations' class='locationCard'>
        <mat-card-header>
          <mat-card-title>Location Name: {{ location.LocalizedName }}, {{ location.AdministrativeArea.LocalizedName }}</mat-card-title>
          <mat-card-subtitle *ngIf='location.stateName'>State/Province: {{ location.stateName }}</mat-card-subtitle>
          <mat-card-subtitle>Country Name: {{ location.Country.LocalizedName }}</mat-card-subtitle>
          <mat-card-subtitle>Location ID: {{ location.Key }}</mat-card-subtitle>
          <mat-card-subtitle>Location Type: {{ location.Type }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-footer>
          <mat-card-actions style='text-align: center'>
            <button mat-raised-button class='viewLocationButton' (click)='handleClickOnLocation(location.LocalizedName, location.Key)'><mat-icon>pageview</mat-icon>View Location</button>
            <button mat-raised-button color='accent' (click)='addFavorite(location)'><mat-icon>add</mat-icon>Add as Favorite</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan='2' class='gridTile'>
    <mat-grid-tile-header>Favorites</mat-grid-tile-header>
    <div *ngIf='favoriteLocations.length > 0' class='locationContainer'>
      <mat-card *ngFor='let location of favoriteLocations' class='locationCard'>
        <mat-card-header>
          <mat-card-title>Location Name: {{ location.locationName }}</mat-card-title>
          <mat-card-subtitle *ngIf='location.stateName'>State/Province: {{ location.stateName }}</mat-card-subtitle>
          <mat-card-subtitle>Country Name: {{ location.countryName }}</mat-card-subtitle>
          <mat-card-subtitle>Location ID: {{ location.locationId }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-footer>
          <mat-card-actions style='text-align: center'>
            <button mat-raised-button class='viewLocationButton' (click)='handleClickOnLocation(location.locationName, location.locationId)'><mat-icon>pageview</mat-icon>View Location</button>
            <button mat-raised-button style='background-color: red; color: white' (click)='deleteFavorite(location.locationId)'><mat-icon>cancel</mat-icon>Delete Favorite</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan='4'>
    <div *ngIf='currentlyViewedLocationName'>
      <app-current-conditions
        [currentConditions]='currentConditions'
        [locationName]='currentlyViewedLocationName'
        [oneDayForecast]='currentlyViewedOneDayForecast'></app-current-conditions>
    </div>
  </mat-grid-tile>
</mat-grid-list>
