.gridTile {
  display: block !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  border-right: 1px solid lightgray;
  flex-direction: column !important;
  overflow-y: auto
}

