<mat-toolbar color="primary">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Main Menu button"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: 1 1"></span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home" routerLinkActive="true">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item routerLink="/forecastDashboard" routerLinkActive="true">
    <mat-icon>thermostat</mat-icon>
    <span>Forecast Dashboard</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
